  <div class="col-md-5">
    <div class="card shadow" style="width: 100%;">
      <img src="/img/portfolio/arxivthearxiv-thumbnail.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Web Project 2: ArxivTheArxiv!</h5>
        <p class="card-text"></p>

      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card shadow" style="width: 100%;">
      <img src="/img/portfolio/robotarm-thumbnail.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">4DOF Robot Arm with OCR</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
