body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

div.container {
  overflow: hidden;
  border:1px;
  padding: 0;
  margin: 0;
}

#wrapper {
  overflow: hidden;
  width:70vw;
  height: 100vh;
  float:left;
}

#navbar {
  width:30vw;
  height: 100vh;
  float: left;
  background-color: #888;
}

#player-list {
  overflow-y: scroll;
  border: none;
  display:block;
  width:71vw;
  height: 100vh;
  margin: 0;
}
