---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

img.sdsdsd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio div.card {
  margin: {
    bottom: 15px;
  }
}
